<app-favorite></app-favorite>
<p>=============</p>
<app-like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked">
</app-like>
<p>=============</p>
<app-zippy title="Shipping Details">
    Shipping Details Content
</app-zippy>
<p>=============</p>
<app-new-course-form></app-new-course-form>
<p>=============</p>
<input type="text" [(ngModel)]="title">
{{ title | titleCase }}
<p>=============</p>
<app-change-password></app-change-password>